.social-media{
    text-align: center;
    background-color: rgba(255, 0, 234, 0.075);

}
#left{
    float: left;
    text-align: center;
    color: black;
    background-color: rgba(180, 99, 169, 0.247);
 
}
#right{
    float: right;
    text-align: center;
    color: black;
    background-color: rgba(180, 99, 169, 0.247);
   
}